In [1]:
# PS2 - CE264
# GSI: Mustapha Harb - Mengqiao Yu - Andrew Campbell

# importing the requried libraries
from collections import OrderedDict    # For recording the model specification 

import pandas as pd                    # For file input/output
import numpy as np                     # For vectorized math operations

import pylogit as pl                   # For MNL model estimation and
                                       # conversion from wide to long format

# reading the data file 
data_01 = pd.read_csv("Air_Travel_Survey.csv",sep=",")

In [2]:
#look at the columns and the data
for col in data_01.columns:
    print col

personID
gender
age
purpose
income
classTicket
payment
AA_FFP
CO_FFP
DL_FFP
B6_FFP
WN_FFP
UA_FFP
US_FFP
a1aircraft
a1departMAM
a1connections
a1travtime
a1arriveMAM
a1timediff
a1performance
a1fare
a1airline
a2aircraft
a2departMAM
a2connections
a2travtime
a2arriveMAM
a2timediff
a2performance
a2fare
a2airline
a1_AV
a2_AV
choice
choiceSituationID

In [3]:
data_01.head()

,personID,gender,age,purpose,income,classTicket,payment,AA_FFP,CO_FFP,DL_FFP,...,a2travtime,a2arriveMAM,a2timediff,a2performance,a2fare,a2airline,a1_AV,a2_AV,choice,choiceSituationID
0,1,1,5,1,10,3,1,1,1,1,...,895,1020,120,60,450,2,1,1,1,1
1,1,1,5,1,10,3,1,1,1,1,...,985,900,0,90,1050,7,1,1,1,2
2,1,1,5,1,10,3,1,1,1,1,...,980,1020,120,60,600,2,1,1,2,3
3,1,1,5,1,10,3,1,1,1,1,...,960,960,60,80,600,6,1,1,1,4
4,1,1,5,1,10,3,1,1,1,1,...,1130,900,0,90,900,7,1,1,2,5

In [4]:
# Converting the data from wide format to long format
# Create the list of individual specific variables

ind_variables = data_01.columns.tolist()[:14]

Specify the variables that vary across individuals and some or all alternatives.

The keys are the column names that will be used in the long format dataframe.

The values are dictionaries whose key-value pairs are the alternative id and the column name of the corresponding column that encodes that variable for the given alternative.

In [5]:
# alt_varying_variables = {u'aircraft_type': dict([(1, 'a1aircraft'),
#                                                  (2, 'a2aircraft')]),
#                           u'departure_time': dict([(1, 'a1departMAM'),
#                                                    (2, 'a2departMAM')]),
#                           u'connections': dict([(1, 'a1connections'),
#                                                 (2, 'a2connections')]),
#                           u'travel_time': dict([(1, 'a1travtime'),
#                                                 (2, 'a2travtime')]),                         
#                           u'arrival_time': dict([(1, 'a1arriveMAM'),
#                                                  (2, 'a2arriveMAM')]),       
#                           u'time_diff': dict([(1, 'a1timediff'),
#                                               (2, 'a2timediff')]), 
#                           u'performance': dict([(1, 'a1performance'),
#                                                 (2, 'a2performance')]), 
#                           u'fare': dict([(1, 'a1fare'),
#                                          (2, 'a2fare')]), 
#                           u'airline': dict([(1, 'a1airline'),
#                                             (2, 'a2airline')])}

alt_varying_variables = {u'aircraft_type': dict([(1, 'a1aircraft'),
                                                 (2, 'a2aircraft')]),
                          u'departure_time': dict([(1, 'a1departMAM'),
                                                   (2, 'a2departMAM')]),
                          u'connections': dict([(1, 'a1connections'),
                                                (2, 'a2connections')]),
                          u'travel_time': dict([(1, 'a1travtime'),
                                                (2, 'a2travtime')]),                         
                          u'arrival_time': dict([(1, 'a1arriveMAM'),
                                                 (2, 'a2arriveMAM')]),       
                          u'time_diff': dict([(1, 'a1timediff'),
                                              (2, 'a2timediff')]), 
                          u'performance': dict([(1, 'a1performance'),
                                                (2, 'a2performance')]), 
                          u'fare': dict([(1, 'a1fare'),
                                         (2, 'a2fare')]), 
                          u'airline': dict([(1, 'a1airline'),
                                            (2, 'a2airline')])}

Specify the availability variables

Note that the keys of the dictionary are the alternative id's.
The values are the columns denoting the availability for the given alternative in the dataset.

In [6]:
availability_variables = {1: 'a1_AV',
                          2: 'a2_AV'}

In [7]:
##########
# Determine the columns for: alternative ids, the observation ids and the choice
##########
# The 'custom_alt_id' is the name of a column to be created in the long-format data
# It will identify the alternative associated with each row.
custom_alt_id = "alternative_id"

# Create a custom id column that ignores the fact that this is a 
# panel/repeated-observations dataset. 
obs_id_column = "choiceSituationID"


# Create a variable recording the choice column
choice_column = "choice"

In [8]:
# Perform the conversion to long-format
data_long = pl.convert_wide_to_long(data_01, 
                                    ind_variables, 
                                    alt_varying_variables, 
                                    availability_variables, 
                                    obs_id_column, 
                                    choice_column,
                                    new_alt_id_name=custom_alt_id)
# Look at the resulting long-format dataframe
data_long.head(10)

,choiceSituationID,alternative_id,choice,personID,gender,age,purpose,income,classTicket,payment,...,US_FFP,connections,arrival_time,travel_time,aircraft_type,airline,performance,time_diff,fare,departure_time
0,1,1,1,1,1,5,1,10,3,1,...,1,0,960,980,3,6,60,60,1050,40
1,1,2,0,1,1,5,1,10,3,1,...,1,0,1020,895,4,2,60,120,450,185
2,2,1,1,1,1,5,1,10,3,1,...,1,2,900,1045,4,6,90,0,900,1355
3,2,2,0,1,1,5,1,10,3,1,...,1,1,900,985,4,7,90,0,1050,1415
4,3,1,0,1,1,5,1,10,3,1,...,1,1,900,985,4,7,70,0,900,1415
5,3,2,1,1,1,5,1,10,3,1,...,1,0,1020,980,3,2,60,120,600,100
6,4,1,1,1,1,5,1,10,3,1,...,1,0,840,1065,4,2,90,-60,600,1275
7,4,2,0,1,1,5,1,10,3,1,...,1,2,960,960,3,6,80,60,600,60
8,5,1,0,1,1,5,1,10,3,1,...,1,0,960,980,3,7,80,60,1050,40
9,5,2,1,1,1,5,1,10,3,1,...,1,2,900,1130,3,7,90,0,900,1270

In [9]:
#look at the columns and the data
for col in data_long.columns:
    print col

choiceSituationID
alternative_id
choice
personID
gender
age
purpose
income
classTicket
payment
AA_FFP
CO_FFP
DL_FFP
B6_FFP
WN_FFP
UA_FFP
US_FFP
connections
arrival_time
travel_time
aircraft_type
airline
performance
time_diff
fare
departure_time

In [10]:
##########
# Create scaled variables so the estimated coefficients are of similar magnitudes
##########
# Scale the travel time column by 60 to convert raw units (minutes) to hours
data_long["travel_time_hrs"] = data_long["travel_time"] / 60.0

# Scale the fare column by 100 to convert raw units ($) to 100$
data_long["fare_100$"] = data_long["fare"] / 100.0


# specifying the utility equations

# NOTE: - Specification and variable names must be ordered dictionaries.
#       - Keys should be variables within the long format dataframe.
#         The sole exception to this is the "intercept" key.
#       - For the specification dictionary, the values should be lists
#         of integers or or lists of lists of integers. Within a list, 
#         or within the inner-most list, the integers should be the 
#         alternative ID's of the alternative whose utility specification 
#         the explanatory variable is entering. Lists of lists denote 
#         alternatives that will share a common coefficient for the variable
#         in question.


basic_specification = OrderedDict()
basic_names = OrderedDict()

#basic_specification["intercept"] = [1, 2]
#basic_names["intercept"] = ['ASC Alternative 1',
#                            'ASC Alternative 2']

basic_specification["travel_time_hrs"] = [1, 2]
basic_names["travel_time_hrs"] = ['Travel Time, units:hrs Alternative 1',
                                  'Travel Time, units:hrs Alternative 2']

basic_specification["fare_100$"] = [1, 2]
basic_names["fare_100$"] = ['Fare, units:hundredth Alternative 1',
                                'Fare, units:hundredth Alternative 2']

In [11]:
# Estimate the binary logit model (
air_travel_logit = pl.create_choice_model(data=data_long,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=basic_specification,
                                        model_type="MNL",
                                        names=basic_names)

# Specify the initial values and method for the optimization.
air_travel_logit.fit_mle(np.zeros(4)) # 4 being the total number of parameters to be estimated

Log-likelihood at zero: -4,868.6658
Initial Log-likelihood: -4,868.6658

/home/Carlin/anaconda3/envs/python2/lib/python2.7/site-packages/scipy/optimize/_minimize.py:420: RuntimeWarning: Method BFGS does not use Hessian information (hess).
  RuntimeWarning)

Estimation Time for Point Estimation: 0.34 seconds.
Final log-likelihood: -4,057.1481

In [12]:
# Look at the estimation results
air_travel_logit.get_statsmodels_summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Multinomial Logit Model Regression Results
===================================================================================
Dep. Variable:                      choice   No. Observations:                7,024
Model:             Multinomial Logit Model   Df Residuals:                    7,020
Method:                                MLE   Df Model:                            4
Date:                     Wed, 07 Feb 2018   Pseudo R-squ.:                   0.167
Time:                             20:21:18   Pseudo R-bar-squ.:               0.166
AIC:                             8,122.296   Log-Likelihood:             -4,057.148
BIC:                             8,149.724   LL-Null:                    -4,868.666
========================================================================================================
                                           coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
Travel Time, units:hrs Alternative 1    -0.5512      0.021    -26.079      0.000      -0.593      -0.510
Travel Time, units:hrs Alternative 2    -0.5423      0.021    -25.982      0.000      -0.583      -0.501
Fare, units:hundredth Alternative 1     -0.4692      0.021    -22.773      0.000      -0.510      -0.429
Fare, units:hundredth Alternative 2     -0.5247      0.022    -24.112      0.000      -0.567      -0.482
========================================================================================================
"""

# What do we need to change

1. add new column to `data_long`
2. add new spec to `basic_specification` and `basic_names`
3. add 1 to `np.zeros()`

# Our testing

We're going to add 4 (well, 3) new features:
* frequent flyer of alternative
* fare mixed with payment
* travel time
* time difference mixed with trip purpose

Let's start with frequent flyer status

In [13]:
# frequent flyer of alternative
data_long['ff'] = np.zeros(len(data_long))
for index, row in data_long.iterrows():
    if row['airline'] == 1: # AA
        if row['AA_FFP'] > 1: # FF
            data_long.loc[index, 'ff'] = 1
    elif row['airline'] == 2: # CO
        if row['CO_FFP'] > 1: # FF
            data_long.loc[index, 'ff'] = 1
    elif row['airline'] == 3: # DL
        if row['DL_FFP'] > 1: # FF
            data_long.loc[index, 'ff'] = 1
    elif row['airline'] == 4: # B6
        if row['B6_FFP'] > 1: # FF
            data_long.loc[index, 'ff'] = 1
    elif row['airline'] == 5: # WN
        if row['WN_FFP'] > 1: # FF
            data_long.loc[index, 'ff'] = 1
    elif row['airline'] == 6: # UA
        if row['UA_FFP'] > 1: # FF
            data_long.loc[index, 'ff'] = 1
    elif row['airline'] == 7: # US
        if row['US_FFP'] > 1: # FF
            data_long.loc[index, 'ff'] = 1

In [14]:
#sanity check
np.sum(data_long['ff'])/len(data_long)

0.38183371298405466

Fare mixed with payment source

In [15]:
# fare * if self pay or family pay
data_long['fare_self'] = data_long['fare'] * np.logical_or((data_long['payment'] == 1), (data_long['payment'] == 4))

# sanity check
print data_long['fare_self'].astype(bool).sum()
print len(data_long)

10160
14048

bare travel time already made so next

time diff mixed with trip purpose

In [16]:
# timediff * if purpose is business or conf
data_long['diff_purp'] = data_long['time_diff'] * np.logical_or((data_long['purpose'] == 1), (data_long['purpose'] == 2))

# sanity check
print data_long['diff_purp'].astype(bool).sum()
print len(data_long)

4140
14048

ok cool now let's make the spec

start with just travel time

In [17]:
new_specs = OrderedDict()
new_names = OrderedDict()

new_specs["travel_time"] = [[1, 2]]
new_names["travel_time"] = ['Travel Time']

# Estimate the binary logit model (
air_travel_logit = pl.create_choice_model(data=data_long,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=new_specs,
                                        model_type="MNL",
                                        names=new_names)

# Specify the initial values and method for the optimization.
air_travel_logit.fit_mle(np.zeros(len(new_specs)))

Log-likelihood at zero: -4,868.6658
Initial Log-likelihood: -4,868.6658
Estimation Time for Point Estimation: 1.43 seconds.
Final log-likelihood: -4,497.1073

performance kinda sucks. let's add the bare fare

In [18]:
new_specs['fare'] = [[1, 2]]
new_names['fare'] = ['Bare fare']

# Estimate the binary logit model (
air_travel_logit = pl.create_choice_model(data=data_long,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=new_specs,
                                        model_type="MNL",
                                        names=new_names)

# Specify the initial values and method for the optimization.
air_travel_logit.fit_mle(np.zeros(len(new_specs)))

Log-likelihood at zero: -4,868.6658
Initial Log-likelihood: -4,868.6658
Estimation Time for Point Estimation: 0.24 seconds.
Final log-likelihood: -4,080.1577

wowee we're almost doing as well as the original model. let's add our modified fare feature 

(i realize i'm repeating myself a lot here but i'm too lazy to functionize this)

In [19]:
new_specs["fare_self"] = [[1, 2]]
new_names["fare_self"] = ['(Fare) x (self/family/friend paid)']

# Estimate the binary logit model (
air_travel_logit = pl.create_choice_model(data=data_long,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=new_specs,
                                        model_type="MNL",
                                        names=new_names)

# Specify the initial values and method for the optimization.
air_travel_logit.fit_mle(np.zeros(len(new_specs)))

Log-likelihood at zero: -4,868.6658
Initial Log-likelihood: -4,868.6658
Estimation Time for Point Estimation: 0.19 seconds.
Final log-likelihood: -4,078.3776

a little better. next is time difference and our mix with trip purpose

In [20]:
new_specs['time_diff'] = [[1, 2]]
new_names['time_diff'] = ['Bare time difference']

new_specs['diff_purp'] = [[1, 2]]
new_names['diff_purp'] = ['(Time difference) x (business/conference trip)']

# Estimate the binary logit model (
air_travel_logit = pl.create_choice_model(data=data_long,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=new_specs,
                                        model_type="MNL",
                                        names=new_names)

# Specify the initial values and method for the optimization.
air_travel_logit.fit_mle(np.zeros(len(new_specs)))

Log-likelihood at zero: -4,868.6658
Initial Log-likelihood: -4,868.6658
Estimation Time for Point Estimation: 0.26 seconds.
Final log-likelihood: -4,075.7448

remember back in the day when the gainz were super impressive?

finally let's add our frequent flyer measurement

In [21]:
new_specs['ff'] = [[1, 2]]
new_names['ff'] = ['Is a frequent flyer of the airline']

# Estimate the binary logit model (
air_travel_logit = pl.create_choice_model(data=data_long,
                                        alt_id_col=custom_alt_id,
                                        obs_id_col=obs_id_column,
                                        choice_col=choice_column,
                                        specification=new_specs,
                                        model_type="MNL",
                                        names=new_names)

# Specify the initial values and method for the optimization.
air_travel_logit.fit_mle(np.zeros(len(new_specs)))

Log-likelihood at zero: -4,868.6658
Initial Log-likelihood: -4,868.6658
Estimation Time for Point Estimation: 0.75 seconds.
Final log-likelihood: -4,023.4748

wow such a boost!!!

let's collect summary statistics and call it a day

In [22]:
# Look at the estimation results
air_travel_logit.get_statsmodels_summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                     Multinomial Logit Model Regression Results
===================================================================================
Dep. Variable:                      choice   No. Observations:                7,024
Model:             Multinomial Logit Model   Df Residuals:                    7,018
Method:                                MLE   Df Model:                            6
Date:                     Wed, 07 Feb 2018   Pseudo R-squ.:                   0.174
Time:                             20:24:11   Pseudo R-bar-squ.:               0.172
AIC:                             8,058.950   Log-Likelihood:             -4,023.475
BIC:                             8,100.092   LL-Null:                    -4,868.666
==================================================================================================================
                                                     coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------------
Travel Time                                       -0.0092      0.000    -26.379      0.000      -0.010      -0.009
Bare fare                                         -0.0044      0.000    -12.382      0.000      -0.005      -0.004
(Fare) x (self/family/friend paid)                -0.0009      0.000     -2.056      0.040      -0.002   -4.12e-05
Bare time difference                              -0.0004      0.000     -1.236      0.217      -0.001       0.000
(Time difference) x (business/conference trip)     0.0012      0.001      2.115      0.034    8.99e-05       0.002
Is a frequent flyer of the airline                 0.5178      0.051     10.087      0.000       0.417       0.618
==================================================================================================================
"""